:root {
  --grey: #CCCCCC;
  --offblack: #404040;

  --vertical-spacing-extra-small: 5px;
  --vertical-spacing-small: 10px;
  --vertical-spacing-small-medium: 15px;
  --vertical-spacing-medium: 20px;
  --vertical-spacing-medium-large: 25px;
  --vertical-spacing-large: 30px;
  --vertical-spacing-extra-large: 40px;
}

.App {
  text-align: center;

  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
